<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Recipe Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add new recipe</h1>
<form action="/recipes/add" th:object="${recipe}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Short description: <input type="text" th:field="*{description}" /></p>
    <p>List of ingredients: <input type="text" th:field="*{ingredients}" /></p>
    <p>Preparation steps: <input type="text" th:field="*{preparationSteps}" /></p>
    <p>Cooking time (minutes): <input type="text" th:field="*{cookingTime}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>